@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #000;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #000;
}

ol {
  list-style: none;
}

/* メインビジュアル */
.mainvisual {
  position: relative;
}

.mainvisual img{
  height: 930px;
  width: 100%;
}

.logo {
  position: absolute;
  top: 0;
  right: 35px;
}

.logo img {
  width: 120px;
  height: 40px;
}


/* article  */
#article {
  padding: 60px 0 80px;
}

.wrapper {
  max-width: 1040px;
  margin: 0 auto;
  text-align: center;
  padding: 0 5%;
}

.title {
  font-size: 1.35rem;
}

.article-text {
  margin-bottom: 40px;
}

.article-text p {
  font-size: 0.87rem;
}

.flex {
  display: flex;
}

.flex-img:last-child {
  margin-right: 0;
}

.flex-img {
  margin-right: 22.5px;
}

.archive {
  position: relative;
}

.archive .content {
  color: #fff;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  padding: 15px 0;
}

.new {
  position: relative;
}

.new .content {
  color: #fff;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  padding: 15px 0;
}

.content-title {
  margin: 0;
}

.content p {
  margin: 0;
  font-size: 0.85rem;
  font-weight: bold;
}

/* fashion  */
#fashion {
  background-image: url(https://placehold.jp/2000x2000.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

.fashion-text {
  padding-top: 40px;
}

.fashion-text p {
  font-size: 0.87rem;
}

.btn {
  margin-top: 30px;
}

.btn:hover {
  opacity: 0.6;
}

.btn a {
  display: inline-block;
  font-size: 0.7rem;
  padding: 13px 35px;
  border: 1px solid #000;
}

/* catalog-antique  */
#catalog-antique-content {
  margin-top: 85px;
  background-color: #a9a9a9;
}

.inner {
  align-items: center;
  padding: 60px 0;
}

.inner .img {
  width: 50%;
}

.inner .catalog-antique-text {
  width: 50%;
}

.catalog {
  padding-left: 40px;
}

.antique {
  padding-right: 40px;
}

.catalog-antique-text .title {
  padding-bottom: 10px;
}

.catalog-antique-text p{
  text-align: left;
  font-size: 0.89rem;
  padding-bottom: 15px;
}

/* footer  */
.footer-inner {
  background-color: #000;
  opacity: 0.8;
  color: #fff;
  padding: 85px 0;
}

.footer-inner .flex {
  text-align: left;
  justify-content: space-between;
}

.footer-item {
  width: 33%;
}

.footer-item img {
  width: 130px;
  height: 50px;
  display: block;
  margin-top: 70px;
}

.footer-item ol {
  padding: 0;
}

.footer-item ol li {
  font-size: 0.77rem;
  line-height: 2;
}

.footer-title {
  font-size: 1rem;
}

.footer-item ol li::before {
  content: "-";
  margin-right: 5px;
}

.footer-item p {
  font-size: 0.77rem;
  line-height: 2;
}

.copy {
  text-align: center;
  font-size: 0.7rem;
  padding: 15px 0;
}


/* レスポンシブ */
@media screen and (max-width: 895px) {
  .flex {
    flex-direction: column;
  }

  .flex-img {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .flex-img:last-child {
    margin-bottom: 0;
  }

  .fashion-text {
    padding-top: 20px;
  }

  #catalog-antique-content {
    margin-top: 50px;
    padding: 3% 0 5%;
  }

  .inner {
    padding: 0;
  }

  .inner .img {
    width: 100%;
  }

  .inner .catalog-antique-text {
    width: 100%;
  }

  .catalog {
    padding: 40px 0 0;
  }

  .antique {
    padding: 0 0 60px;
  }

  .antique .btn {
    margin-top: 50px;
  }

  .footer-inner {
  padding: 30px 0 50px;
  }

  .footer-item {
    width: 100%;
  }
  
  .footer-item img {
    display: inline-block;
    margin: 0;
    height: 50px;
  }

  .footer-item:first-child {
    text-align: center;
  }
}